# Ignore the .idea folder created by IntelliJ
.idea

# Ignore compiled java files
*.class
*.jar
bin
out
target
**/node_modules

#Ignore mac files
.DS_Store

#Igore JADE files
APDescription.txt
MTPs-Main-Container.txt

#Ingore misc. files
*.log

~$*